.add-product form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-product form input,textarea{
    width: 80%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid gray;
}