.property{
    margin-top: 50px;
}

.card-top-section{
    font-weight: bold;
    color: #FF5A5F;
}
.booking-name{
    font-weight: 400;
}
.location{
   text-align: left;
   border-bottom: 1px solid lightgray;
}
.booking-btn{
    background-color: #FF5A5F;
    color: white;
}